html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  background:  rgb(47, 47, 47);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: rgb(38, 38, 38);
  border: 3px solid rgb(62, 62, 62);
  border-radius: 15px;
  color: rgb(207, 207, 207);
  height: 100%;
  padding: 3px 15px;
  font-size: 0.8rem;
  font-family: Georgia;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background: rgb(102, 102, 102);
  border: 3px solid  rgb(96, 96, 96);
  color: rgb(255, 255, 255);
}